body{
 background-color: lightgreen;
}

h1#titolInici {
    width: 50%;
    color: red;
    border: solid red 1px;
    margin: 10px auto;
    text-align:center;
    padding:10px;
    background-color:white;
    }

h2#titolSecundari{
    width: 50%;
    color: red;
    border: solid red 1px;
    margin: 10px auto;
    text-align:center;
    padding:10px;
    background-color:white;
    }

#paragrafInici{
position: relative;
width: 80%;
border: solid black 1px;
margin: 10px auto;
text-align:center;
padding:10px;
background-color:#f2e7c3;
}

.imatgeInici{
    width: 35%;
    margin: 10px;
}

.llistat-equips{
    border:2px solid black;
    margin: 5px auto ;
    width:20%;
    background-color: olive;
    padding: 10px;
}

.llistat-equips a {
    color: #444444;
}

.llistat-equips a:hover {
    
    color: #5cb874;
}

#titol-llistat{
    color:mediumblue;
}

.exception{
    border:2px solid red;
    padding: 5px;
    background-color: lightblue;
    width:55%;
    margin: auto;
}

#paragrafInici a:hover{
    color:#5cb874;
}

#paragrafInici a{
    margin: auto;
    width:fit-content;
}

#error{
    position: relative;
    width:30%;
    border: solid blue 2px;
    margin: 10px auto;
    text-align:center;
    padding:10px;
    background-color:#f2e7c3;
}

